.folder {
  border-radius: 25px 25px 25px 25px;
  position: relative;
}
.folder::before {
  content: "";
  position: absolute;
  top: -18px;
  width: 200px;
  height: 25px;
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 30 z");
}

.green_folder {
  border-radius: 25px 0px 25px 25px;
}
.gold_folder {
  border-radius: 0px 25px 25px 25px;
}
.green_folder::before {
  background-color: rgb(16 185 129);
  transform: scaleX(-1);
  right: 0;
}
.gold_folder::before {
  background-color: rgb(251 191 36);
}

@media (min-width: 1024px) {
  .gold_folder::before {
    clip-path: path("M 0 0 L 100 0 C 125 2, 115 16, 140 18 L 0 30 z");
  }
}
@media (max-width: 640px) {
  .green_folder::before,
  .gold_folder::before {
    clip-path: path("M 0 0 L 100 0 C 125 2, 115 16, 140 18 L 0 30 z");
  }
}
